body {
 background-image: url("../media/SaintPaulGarden.jpg");
 background-repeat: no-repeat;
}

a:hover {
	background-color: black;
	color: white;
}

p {
	font-family: 'Crimson Text', serif;
}

a {
	color: black;
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	margin-top: 20px;
	background-color: #ffffff;
  opacity: 0.6;
	font-family: 'Fjalla One', sans-serif;
	height: 40px;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

h2 {
	text-align: center;
  font-family: 'Crimson Text', serif;
}

h4 {
	font-family: 'Crimson Text', serif;
	text-align: center;
}

.icon-div h3 {
	font-family: 'Crimson Text', serif;
	height: 30px;
	width: 100px;
	text-align: center;
	background-color: #ffffff;
	border: black solid 2px;
}

#contact-header {
	float: left;
	width: 200px;
	margin-top: 10px;
	padding-left: 15px;
}

#github-link, #linkedin-link, #email-link {
	float: right;
	padding-top: 10px;
}

#langs, #techs {
	margin: auto;
	margin-top: 20px;
	height: 150px;
}

#projects-row {
	margin-top: 70px;
}

#my-nav {
	background-color: #ffffff;
  opacity: 0.6;
	font-family: 'Fjalla One', sans-serif;
}

#skills-row {
	margin-top: 40px;
}

.icon {
	width: 100px;
	height: 100px;
}

.project-image {
	height: 200px;
	width: 340px;
}

.thumb {
	display: inline;
	height: 70px;
	width: 70px;
}

#project-panel-1, #project-panel-2, #project-panel-3, #project-panel-4, #project-panel-5, #project-panel-6 {
	background-color: #ffffff;
	border: black solid 2px;
	margin: 5px;
  width: 370px;
	height: 340px;
}

.edu-div, .work-div {
  float: left;
}

.work-para {
  clear: both;
}

.edu-image, .work-image {
  height: 75px;
  width: 75px;
  float: right;
}

#edu-panel-1, #edu-panel-2, #edu-panel-3 {
	margin: 5px;
	background-color: #ffffff;
	border: black solid 2px;
	font-family: 'Crimson Text', serif;
  width: 370px;
	height: 175px;
}

#work-panel-1, #work-panel-2, #work-panel-3 {
	margin: 10px;
	background-color: #ffffff;
	border: black solid 2px;
	font-family: 'Crimson Text', serif;
	height: 305px;
  width: 370px;
}

.icon-div {
	width: 150px;
	height: 100px;
	display: inline-block;
}

#projects-header, #education-header, #work-header {
	margin: auto;
	margin-top: 70px;
	padding: 5px;
	width: 200px;
	background-color: #ffffff;
	border: black solid 2px;
}

#work-header {
	width: 300px;
}

#langs-header {
	margin: auto;
	margin-top: 70px;
	padding: 5px;
	width: 200px;
	background-color: #ffffff;
	border: black solid 2px;
}

#techs-header {
	margin: auto;
	margin-top: 40px;
	padding: 5px;
	width: 200px;
	background-color: #ffffff;
	border: black solid 2px;
}

.moused {
	background-color: black;
	color: white;
}

#skills-header {
	margin: auto;
	padding: 5px;
	width: 100px;
	background-color: #ffffff;
	border: black solid 2px;
}

#header-row {
  height: 300px;
}

.nav-link-div {
	display: inline;
	margin-left: 70px;
	margin-right: 70px;
}

.nav-link-divs {
	margin: auto;
	margin-top: 10px;
	height: 40px;
}

#prof-pic {
	width: 355px;
	margin-left: 4px;
	margin-right: 4px;
}

#about-me-row {
	margin-top: 65px;
}

#about-me-div {
	margin-top: 60px;
	height: 500px;
	background-color: #ffffff;
	border: black solid 2px;
}

#aboutmetext {
	margin-top: 5px;
}
