a {
	 color: black;
}

#my-nav {
	background-color: #ffffff;
  opacity: 0.6;
}

.nav-link-div {
	display: inline;
	margin-left: 50px;
	margin-right: 50px;
}

.nav-link-divs {
	margin: auto;
	margin-top: 10px;
	height: 40px;
}

#profpic {
	width: 355px;
	margin-left: 4px;
	margin-right: 4px;
}

body {
 background-image: url("../media/SaintPaulGarden.jpg");
 background-repeat: no-repeat;
}

a:hover {
	background-color: black;
	color: white;
}

#aboutme {
	margin-top: 100px;
}

#name {
	margin-top: 60px;
	height: 500px;
	background-color: #ffffff;
}

h4 {
	text-align: center;
}

h1 {
	text-align: center;
}

#footer {
	margin-top: 175px;
	border-top: #6bb120 solid 2px;
	border-bottom: #6bb120 solid 2px;
	background-color: #5588ff;
	height: 35px;
}

#aboutmetext {
	margin-top: 5px;
}

p {
	font-family: Times;
}

#musicPlayer {
	visibility: hidden;
}

a {
	padding-left: 20px;
	padding-right: 20px;
}
