#no-vertical-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

#no-vertical-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#no-vertical-margin7 {
  margin-top: 0px;
  margin-bottom: 0px;
}


.float-right {
  float: right;
  clear: none;
}

#feel-free {
  margin-top: 5%;
}

#prof-logo {
  border-radius: 50%;
}


@media only screen and (max-width: 500px) {
    #banner-info {
        background-color: white;
        padding-top: 15px;
    }
    #prof-logo {
      height: 40px;
    }
}
