img {
	border: 3px solid orange;
	width: 200px;
	height: 200px;
}

h1 {
	background-color: #3399aa;
	text-align: center;
}

body {
	background-color: #99cc66;
}

.inFocus {
	background-color: yellow;
	border: solid red 2px;
}

#footer {
  text-align: right;
}
