li {
  color: white;
}

li:hover {
  border: red solid 2px;
  background-color: yellow;
  color: red;
  padding: 5px;
}

h2 {
  text-align: center;
}

#albumCover {
  margin-left: 70px;
  margin-right: 20px;
}

#terryHeader {
  background-color: red;
  color: white;
  text-align: center;
  border: solid yellow 3px;
}

#footer {
  border: solid red 2px;
  background-color: yellow;
}

#albums {
  text-align: center;
}

#rainbowHeader {
  border: solid green 3px;
}

#persianHeader {
  border: solid blue 3px;
}

#inCHeader {
  border: solid red 3px;
}

#intro, #smintro {
  background-color: #022c70;
  color: white;
}

h2 {
  color: white;
}

body {
  background-color: #1967e5;
}

#footer {
  text-align: right;
}
