.cell {
  height: 20px;
  width: 20px;
  border: solid black 1px;
}

table {
  border-collapse: collapse;
}

.test {
  background-color: purple;
}

#myTable {
  margin: auto;
}

.turtle {
  background-color: green;
}

.drawn {
  background-color: black;
}

h1 {
  text-align: center;
}

#inputs {
  float: right;
}

#commands {
  float: left;
}
